# Ignore everything
*

# Allow directories so Git can traverse
!*/

# Allow project files
!*/*.xpr

# Allow everything inside any src folder
!*/src/**
!*/src/**/*

# Allow everything inside any workspace folder
!*/workspace/**
!*/workspace/**/*

# But exclude _ide inside workspace
*/workspace/_ide/**
*/workspace/_ide/**/*

# Allow everything inside SOURCES folder
!SOURCES/**
!*/SOURCES/**

# Make sure .gitignore itself is tracked
!.gitignore