# Ignore everything
*

# Allow directories so Git can traverse
!*/

# Allow project files
!*/*.xpr

# Allow src directories and their contents (including nested dirs)
!*/src/*
!*/src/sim/**

# Allow IP core definitions inside /src/ip/<instance>/
!*/src/ip/
!*/src/ip/*/
!*/src/ip/*/*.xci

# Make sure .gitignore itself is tracked
!.gitignore